{% extends "templates/web.html" %}

{% block page_content %}
      <main class="title-body">
          <h1 class="primary-heading">Authenticating, Please Wait...</h1>
      </main>
      <div class="page-card unauthorized hidden">
        <h5 class="page-card-head">
          <span class="indicator red">Not Permitted</span>
        </h5>
        <div class="page-card-body">
          <p>You do not have access to this page.</p>
          <div>
            <a href="" class="btn btn-primary btn-sm btn-block redirect-link">Login</a>
          </div>
        </div>
      </div>
{% endblock %}